<h1>Welcome to Tiger Eats!</h1>
<h2>This is an application for my senior seminar, a project that must be completed in order to graduate with a Computer Science Seminar. I am using Ruby on Rails programming language. This application uses information provided by DePauw's <a href="https://depauw.cafebonappetit.com/">Hoover Dining Hall</a>. Enjoy!</h2>
