<h1>We would love to hear from you!</h1>

<html>
<body>


<form action="mailto:admin@tigereats.com" method="post" enctype="text/plain">
Need assistance navigating the site? <br>Have suggestions on how we can improve? <br>Let us know! Feel free to ask!<br> 
<input type="text" name="comment" size="50"><br><br>
<input type="submit" value="Send">
<input type="reset" value="Reset">
<br><br>
</form>

</body>
</html>
<!-- Simple HTML Form that “Triggers” an Email.-->
