.jumbotron-fluid {
	background-color: #EBD371;
	padding: 2px;
	color: #FFFFFF;
}

.container-fluid {
	background-color: #FFFFFF;
	width: 100%;
	
}

.navbar {
	color: #EFEEE9;
}
.navbar a:hover{
	color: #FFFFFF;
}
.navbar a:visited{
	color: #494948;
}
.nav a{
	color: #EFEEE9;
}






