<h1> Here's all the Meals you liked!</h1>


<h3> Meal: Wednesday- Breakfast </h3>

<p>EGGS: Scrambled Eggs, Spring Vegetable and Potato Quiche, Spring Valley Farms Eggs to Order	</p>
<p>MEAT: Turkey Bacon, Cameron Farms Pork Sausage	</p>
<p>MEATLESS: Oatmeal, Crispy Potatoes, Roasted Vegetable </p>
<p>OTHER: S'mores French Toast, Biscuits and Cameron Farms Sausage Gravy</p>
</br>

<h3> Meal: Friday- Dinner </h3>

<p>SLICE: Tiger Tails, Buffalo Chicken Pizza, Chicken Philly Cheesesteak</p>
<p>SATISFIED: Herb Roasted Yukon Potatoes, Simmered Bean Medley, Roasted Everhart Farms Lamb</p>
<p>ZEST: Noodle Bar, Broth Bar, Tamari Brown Sugar Marinated Tempeh, Soy Marinated Local Farms Harvest Beef</p>
<p>VEGGIES: Roasted Vegetable Medley, Steamed Carrots, Spicy Bok Choy</p>

